body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(34, 101, 102);
}

a {
text-decoration: none;
}

.box {
    font-size: 20px;
    color: rgb(10, 146, 83);
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(99, 13, 13);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
